@keyframes lsy-animation-loading-before {
	0%, 
    100% {
    	transform: translate(0, 0); 
	}
  	50% {
    	transform: translate(30px, -30px); 
	} 
}
@keyframes lsy-animation-loading-after {
  	0%,
    100% {
    	transform: translate(0, 0); 
	}
  	50% {
    	transform: translate(16px, -16px); 
	} 
}