.lsy-menu-home{
	background-color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
	color: var(#{$VAR-LSY-TXT-VAR-COLOR}-primary);
	margin-bottom: 20px;
	font-size: 14px;
	a{
		text-decoration: none;
		outline: none;
	}
	.lsy-container{
		width: 90%;
    	max-width: 1200px;
	}
	&-button{
		display: none;
    	justify-content: space-between;
		button{
		   	font-size: 20px;
    		color: currentColor;
    		padding: 10px 20px;
    		border: 1px solid transparent;
    		display: inline-block;
    	   	cursor: pointer;
    	   	background: none;
			&:hover{
			   border: 1px solid rgba(255, 255, 255, 0.4);
			}
			&.lsy-btn-close{
				display: none;
				&.#{$VAR-LSY-CLASS-ACTIVE}{
					display: inline-block;
				}
			}
		}
	}
	&-link{
		display: flex;
    	justify-content: space-between;
    	align-items: center;
		font-family: var(#{$VAR-LSY-TXT-VAR-FONT-FAMILY}-primary);
		&__drop{
			color: currentColor;
    		padding: 7px;
    		border-radius: 3px;
    		display: flex;
    		align-items: flex-end;
    		border: 1px solid transparent;
    		cursor: pointer;
			&:hover{
				border: 1px solid rgba(255, 255, 255, 0.4);
			}
			.lsy-span{
				display: block;
    			font-weight: bold;
			}
			i{
				margin-left: 20px;
    			position: relative;
				align-self: center;
			}
		}
		&__links{
			a{
				color: currentColor;
    			border: 1px solid transparent;
    			padding: 7px;
    			border-radius: 3px;
				&:hover{
					border: 1px solid rgba(255, 255, 255, 0.4);
				}
			}
		}
	}
	&-container{
		position: relative;
		&__grid{
		   	height: 400px;
           	width: 100%;
			display: none;
           	position: absolute;
    		top: 5px;
       		z-index: 1000;
    		grid-template-columns: repeat(4, 1fr);
    		grid-template-rows: 1fr;
    		grid-template-areas: "categories product product product";
			&.#{$VAR-LSY-CLASS-ACTIVE}{
				display: grid;
			}
			&::before{
				content: "";
    			display: block;
    			background: transparent;
    			border-left: 5px solid transparent;
    			border-right: 5px solid transparent;
    			border-bottom: 5px solid currentColor;
    			position: absolute;
    			top: 0px;
    			left: 65px;
			}
			& > div {
				background-color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-body);
				color: var(#{$VAR-LSY-TXT-VAR-COLOR}-body);
    			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
			}
			.lsy-subtitle{
				font-size: 18px;
    			font-weight: normal;
    			color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
    			padding: 10px 20px;
			}
			.lsy-btn-before{
				background: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
    			color: currentColor;
    			border: none;
    			padding: 10px;
    			border-radius: 3px;
    			margin: 20px;
    			font-size: 16px;
    			cursor: pointer;
    			display: none;
				i{
					margin-right: 10px;
				}
			}
			&-categories{
				grid-area: categories;
    			padding-top: 10px;
    			height: 400px;
    			overflow-x: hidden;
    			overflow-y: auto;
				@include mixin-scroll();
				.lsy-subtitle{
					display: none;
				}
				a{
					color: currentColor;
    				display: flex;
    				justify-content: space-between;
    				padding: 10px 20px;
					i{
						display: none;
					}
					&:hover{
						font-weight: bolder;
						color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
						i{
							display: inline-block;
						}
					}
				}
			}
			&-products{
				grid-area: product;
				&-product{
					display: none;
    				grid-template-columns: 1fr 1fr 1fr;
    				grid-template-rows: 1fr;
    				height: 400px;
					&.#{$VAR-LSY-CLASS-ACTIVE}{
						display: grid;
					}
					img{
						width: 100%;
    					vertical-align: top;
    					height: 100%;
    					object-fit: cover;
					}
					&-link{
						padding-top: 10px;
    					height: 400px;
    					overflow-x: hidden;
    					overflow-y: auto;
						@include mixin-scroll();
						a{
							color: currentColor;
    						display: block;
    						padding: 10px 20px;
						}
					}
					&-banner{
						a{
							display: block;
    						height: 400px;
						}
					}
					&-galery{
						display: flex;
    					flex-wrap: wrap;
    					align-content: start;
    					height: 400px;
    					overflow-x: hidden;
    					overflow-y: auto;
						@include mixin-scroll();
						a{
							width: 50%;
    						height: 50%;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 1000px) {
		&-link{
			padding: 0 10px;
		}
		.lsy-container{
			width: 100%;
		}
	}
	@media screen and (max-width: 800px) {
		.lsy-container{
			width: 90%;
		}
		&-button{
			display: flex;
		}
		&-link{
			padding: 20px;
      		flex-direction: column;
      		align-items: flex-start;
      		justify-content: flex-start;
      		position: fixed;
      		left: 0;
      		background: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
     		height: 100vh;
     	 	width: 80%;
      		z-index: 2000;
      		transition: .3s ease all;
      		transform: translate(-100%);
      		overflow: hidden;
			&.#{$VAR-LSY-CLASS-ACTIVE}{
				transform: translate(0%);
			}
			&__drop{
				width: 100%;
      			align-items: center;
      			justify-content: space-between;
      			cursor: pointer;
			}
			&__links{
				width: 100%;
				a{
					display: block;
      				margin: 10px 0;
     				padding: 10px;
				}
			}
		}
		&-container{
			&__grid{
				display: grid;
      			transition: .3s ease all;
      			transform: translateX(-100%);
      			z-index: 3000;
      			width: 80%;
      			position: fixed;
      			top: 0;
      			left: 0;
      			height: 100vh;
      			grid-template-areas: "categories categories categories categories";
				&.#{$VAR-LSY-CLASS-ACTIVE}{
					transform: translate(0%);
				}
				&::before {
     				 display: none;
				}
				.lsy-btn-before{
					display: inline-block;
				}
				&-categories{
					height: 100%;
					.lsy-subtitle{
						display: block;
					}
				}
				&-products{
					position: absolute;
      				top: 0;
      				width: 100%;
      				height: 100%;
      				transition: .3s ease all;
      				transform: translateX(-100%);
      				overflow: auto;
					&.#{$VAR-LSY-CLASS-ACTIVE}{
						transform: translate(0%);
					}
					&-product{
						grid-template-columns: 1fr;
      					height: 100%;
						&-banner{
							width: 100%;
      						min-height: 250px;
      						max-height: 350px;
							a{
								width: 100%;
								height: 100%;
							}
						}
						&-link{
							min-height: 50vh;
      						overflow: auto;
						}
						&-galery{
							background: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-body);
							a{
								width: 33.33%;
       					 		height: 50%;
							}
						}
					}
				}
			}
		}
	}	
}