.lsy-footer{
	position: relative;
	max-width: 100%;
	overflow: hidden;
	background-color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-secundary);
	color: var(#{$VAR-LSY-TXT-VAR-COLOR}-secundary);
	
	ul{
		padding: 0;
		margin: 0;
		margin-bottom: .5em;
		height: 100%;
	}
	
	.p-grid {
		& > div{
			padding: 1em 2em !important;
		}
	}

	& > .p-grid{
		&:not(:first-of-type){
			border-top: 1px solid var(#{$VAR-LSY-TXT-VAR-COLOR}-secundary);
		}
		&:last-of-type{
			background-color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
		    color: var(#{$VAR-LSY-TXT-VAR-COLOR}-primary);
			.lsy-container{
				padding-top: .5em !important;
				padding-bottom: .5em !important;
			}
		}
	}
	
	.lsy-txt-title{
		font-size: 1.2em;
		margin: 1em auto;
	}
}