.lsy-image-logo{
	width: 50px;
	height: 50px;
}

.lsy-image-user-profile{
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.lsy-image-container{
	width: 60px;
	height: 60px;
	border: 1px solid currentColor;
	border-radius: 5px;
	overflow: hidden;
	& > a{
		width: 100%;
		height: 100%;
		display: block;
	}
	.lsy-image-user-profile{
		width: 100%;
		height: 100%;
		transition: transform .5s ease-in-out;
		&:hover{
			transform: scale(1.5) rotate(5deg);
		}
	}
}

.lsy-image-container-large{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform .5s ease-in-out;
		&:hover{
			transform: scale(1.5) rotate(5deg);
		}
	}
}