@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Share+Tech+Mono");
:root {
  --lsy-font-size-body: 16px;
  --lsy-font-size-primary: 1em;
  --lsy-font-size-xs: 0.5em;
  --lsy-font-size-sm: 1em;
  --lsy-font-size-md: 1.5em;
  --lsy-font-size-lg: 2.5em;
  --lsy-font-size-xl: 5em;
  --lsy-font-size-xxl: 7em;
  --lsy-font-size-h1: 2.5em;
  --lsy-font-size-h2: 2em;
  --lsy-font-size-h3: 1.75em;
  --lsy-font-size-h4: 1.5em;
  --lsy-font-size-h5: 1.25em;
  --lsy-font-size-h6: 1em;
  --lsy-font-family-primary: Mulish, monospace, sans-serif;
  --lsy-font-family-2: Share Tech Mono, cursive, monospace;
  --lsy-background-primary: #FDB135;
  --lsy-color-primary: #FFFFFF;
  --lsy-background-secundary: #2E2E2E;
  --lsy-color-secundary: #FFFFFF;
  --lsy-background-body: #FFFFFF;
  --lsy-color-body: #2E2E2E;
  --lsy-background-disabled: #E5E5E5;
  --lsy-color-disabled: #2E2E2E;
  --lsy-background-hover: rgba(0,0,0,0);
  --lsy-color-hover: rgba(0,0,0,0);
  --lsy-background-info: #2196F3;
  --lsy-color-info: #FFFFFF;
  --lsy-background-danger: #F44336;
  --lsy-color-danger: #FFFFFF;
  --lsy-background-warning: #FFEB3B;
  --lsy-color-warning: #2E2E2E;
  --lsy-background-success: #4CAF50;
  --lsy-color-success: #FFFFFF;
  --lsy-background-fatal: #2E2E2E;
  --lsy-color-fatal: #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: var(--lsy-font-family-primary);
  font-size: var(--lsy-font-size-body);
  position: relative;
  background-color: var(--lsy-background-body);
  color: var(--lsy-color-body);
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-track {
  background: var(--lsy-background-primary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--lsy-background-primary);
  border-radius: 5px;
  border: 1px solid var(--lsy-color-primary);
}
body.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: var(--lsy-font-size-h1);
}

h2 {
  font-size: var(--lsy-font-size-h2);
}

h3 {
  font-size: var(--lsy-font-size-h3);
}

h4 {
  font-size: var(--lsy-font-size-h4);
}

h5 {
  font-size: var(--lsy-font-size-h5);
}

h6 {
  font-size: var(--lsy-font-size-h6);
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: var(--lsy-font-size-primary);
  color: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
}

ol,
ul {
  padding-left: calc(var(--lsy-font-size-primary) * .5);
  list-style: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: var(--lsy-font-size-primary);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
  border-style: none;
  outline: none;
}

img,
svg {
  vertical-align: middle;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.lsy-container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;
  color: inherit;
  background-color: inherit;
  font-size: var(--lsy-font-size-primary);
  overflow: visible;
}

.lsy-txt-title {
  display: block;
  width: 100%;
  color: var(--lsy-background-primary);
  text-align: center;
  height: auto;
  text-transform: uppercase;
  font-family: inherit;
  overflow: visible;
}

.lsy-footer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--lsy-background-secundary);
  color: var(--lsy-color-secundary);
}
.lsy-footer .p-grid > div {
  padding: 1.2em 1em !important;
}
.lsy-footer > .p-grid:last-of-type {
  border-top: 1px solid var(--lsy-color-secundary);
}
.lsy-footer .lsy-txt-title {
  font-size: 1.2em;
  margin: 1em auto;
}
/*# sourceMappingURL=pastley.css.map */